body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:261px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:14px;
  width:241px;
  height:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:48px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
